
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>
    <img mat-card-xl-image src="../../../assets/3.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium similique porro placeat? Illo voluptas, maxime nesciunt magnam tenetur quae debitis sit. In repellendus quia sint sed nulla suscipit nesciunt dolorum.
  </mat-card-content>
</mat-card>


